table {
	border:solid;
    background-color: #000086;
	border-spacing:20px;
	margin:0 auto;
	box-shadow:#000000
}
td, th {
	padding:10px;
    background-color:white; 
    height: 25px;
	width:25px;
    border-radius: 30px;
    border:solid blue;
}
.yellow {
	background-color:yellow;
	border-color:#F2F132
}
.red {
	background-color:red;
	border-color:#DD0000	
}
h1 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:45px	
}
h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:36px
}

body {
	background-color:#D8CCCC;
	overflow:hidden	
}

.gamewrapper {
    float: left;
    width: 70%
}
#navWrapper{
	width:180px;
	float:right;
	text-align:left;
	padding-left:10px;
    padding-right: 20px;
    margin-top: 100px;
    font-family:Helvetica, Arial, sans-serif;
    border-left:solid thin black;
}
#linkheader {
    font-size: 24px
}
.sections {
	font-weight:800
}
