@charset "utf-8";
/* CSS Document */
body {
	background-color:#D8CCCC;
	text-align:start;
	font-family:Helvetica, Arial, sans-serif
}
h1 {
	text-align:center;
    padding-top:30px;
    padding-bottom: 30px;
	margin: 0 auto
}

#bodyWrapper {
	text-align:center;
	width:96%;
	border-top:4px solid black;
	overflow:hidden;
    padding: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
    margin: none
}
#navWrapper{
	width:180px;
	float:right;
	text-align:left;
	padding-left:10px;
    padding-right: 30px;
    border-left: thin solid black
}
#imageWrapper{
    padding-bottom:20px;  
	width:300px;
	float:left	
}
#pWrapper {
	float:left;
    width: 30%;
	text-indent:20px;
    overflow:hidden;
	padding-left:10px
}
.sections {
	font-weight:800
}
