
h1 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:45px;
    text-shadow: 1px 1px #ffffff
}
h2 {
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:36px
}

body {
	background-color:#E8EAF6;
    color: #1A237E;
    font-family:Helvetica, Arial, sans-serif;
	overflow:scroll;
    line-height: normal;
}

/*Navigation*/
#navWrapper{
	width:200px;
	float:right;
	text-align:left;
	padding-left:10px;
    padding-right: 30px;
    margin-top: 113px;
    border-left: thin solid black
}
.sections {
	font-weight:800
}
.links {
    font-weight: 600;
}
a {
    text-decoration: none;
}
a:hover {
    color: #7986CB
}
a:visited {
    color: #1A237E
}
.currentpage {
    color: #e91e63;
}
ul {
    padding: 20px
}
#linkheader {
    text-align: left;
    font-size:24px
}

